<h1>Forgot Password</h1>

<% form_tag password_resets_path do %>
	<div class="formFields">
		<label>Email Address</label>
		<%= text_field_tag "email" %>
	</div>
  
	<div class="formFields submit">
		<%= submit_tag "Reset Password" %> | <%= link_to 'Take me Back to Login', login_path %>
	</div>
  
<% end %>