<%= render :partial => 'layouts/email_header' %>

<p style="line-height:22px;font-size:12px;color:#555555;font-family:'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;" >
Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Nullam dapibus varius risus, et auctor augue semper quis. In eros urna, 
      pulvinar a porttitor sed, commodo vitae enim. Ut est turpis, rhoncus vel
       commodo non, lacinia viverra leo.  <a href="#" style="font-weight:bold;color:#00a7e5;text-decoration:none;" > | Read More |</a> </p>

<%= render :partial => 'layouts/email_footer' %>