<html>
<style type="text/css">
	body{background-color:#e8e8e8;margin:0 auto;}
	table{padding:10px; background-color:#e8e8e8;width:60%}
</style>
<body>
	<table>
		<tr>
			<td style="text-align:left">
				<p>Welcome to Deesis!</p>
				<p>
					The community is growing, and we are looking forward to getting to know you.  
					Prayer is vital to the Christian life, and as such, we hope that we can encourage one another in all things.
				</p>
				<p>
					Grace Be Yours,<br />
					<%= link_to "Deesis.org", root_path %>
				</p>
			</td>
		</tr>
	</table>
</body>
</html>