<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Rich Typography Email Template</title>
<style type="text/css">
h1 {
	font-size: 40px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #000000;
	line-height:40px;
	letter-spacing:-2px;
}
.style3 {
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:bold;
	line-height:18px;
}
.style4 {
	font-size: 18px;
	font-family: Arial, sans-serif;
	font-weight:bold;
	line-height:18px;
}
.color {
color: #00a7e5;	
}
.dark {
color: #222222;	
}
.realdark {
color:#030303;
}
.white {
color: #222222;	
}
p {
line-height:22px;
font-size:12px;
color: #555555;
font-family:"Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif
}
.webversion {
font-family: Arial, sans-serif;
font-size:12px;
color: #555555;
font-weight:bold;
}
a {
font-weight:bold;
color: #00a7e5;	
text-decoration:none;
}
.weblink {
color:#C8C8C8
}
.style5 {
	font-size: 14px;
	line-height:18px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:bold;
}
.darkbg {
background-color:#333333;	
}
.lightbg {
background-color:#e3e3e3;	
}
.largeborder {
border:8px solid #cccccc;
}
.smallborder {
border:4px solid #cccccc;
}
.totalbg {
background-color:#FFFFFF;	
}
.black {
background-color:#000000;	
}
</style>
<META NAME="ROBOTS" CONTENT="NOINDEX,NOFOLLOW">
</head>
<body topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0" class="totalbg" style="background-color:#FFFFFF;" >

<!--Spacer -->
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" height="40"><tr><td><img src="http://i10.cmail1.com/ei/r/96/198/93E/094151/images/lightspacer40.gif" width="1" height="40" /></td></tr></table>
<!--End Spacer -->
<!--Logo and Links -->
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td width="139" class="style2"><img src="http://i1.cmail1.com/ei/r/96/198/93E/094151/images/logo.jpg" alt="Logo" width="118" height="36" style="border-style:none;" /></td>
    <td width="18"></td>

    <td width="140" align="center">
    <a href="#" class="style4 dark" style="text-decoration:none;font-size:18px;font-family:Arial, sans-serif;font-weight:bold;line-height:18px;color:#222222;" ><span class="color" style="color:#00a7e5;" >Forward</span> this.</a>
    </td>
    <td width="12"></td>
    <td width="140" align="center">
    <a href="http://boldtype.cmail1.com/t/r/u/utciy/l/" class="style4 dark" style="text-decoration:none;font-size:18px;font-family:Arial, sans-serif;font-weight:bold;line-height:18px;color:#222222;" ><span class="color" style="color:#00a7e5;" >Un</span>-Subscribe.</a>

    </td>
    <td width="11" ></td>
    <td width="140"  align="center">
     <a href="#" class="style4 dark" style="text-decoration:none;font-size:18px;font-family:Arial, sans-serif;font-weight:bold;line-height:18px;color:#222222;" ><span class="color" style="color:#00a7e5;" >Contact</span> Us.</a>
    </td>
  </tr>
    <tr height="10">

    <td colspan="7"></td>
  </tr>
  <tr height="3">
    <td class="lightbg" style="background-color:#e3e3e3;" ></td>
    <td></td>
    <td class="lightbg" style="background-color:#e3e3e3;" ></td>
    <td></td>
    <td class="lightbg" style="background-color:#e3e3e3;" ></td>
    <td></td>

    <td class="lightbg" style="background-color:#e3e3e3;" ></td>
  </tr>
</table>
<!--End Logo and Links -->
<!--Spacer -->
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" height="40"><tr><td><img src="http://i10.cmail1.com/ei/r/96/198/93E/094151/images/lightspacer40.gif" width="1" height="40" /></td></tr></table>
<!--End Spacer -->
<!--
---------------------
Featured Image Module
---------------------
 -->
 
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
 <!--Not Needed for Top Story
  <tr>
	  <td class="lightbg" height="3" style="background-color:#e3e3e3;" ></td>
	 </tr>
     <tr>
      <td height="40"><img src="http://i10.cmail1.com/ei/r/96/198/93E/094151/images/lightspacer40.gif" width="1" height="40" /></td>
     </tr>  
  Not Needed for Top Story -->  
      
	<tr>
    	<td>

        
	<!--Main Image and Headline -->
	<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
 	 <tr>
   	  <td width="266" rowspan="3">
      <img src="http://i2.cmail1.com/ei/r/96/198/93E/094151/images/cards.jpg" alt="Image" width="250" height="185" class="largeborder" style="border-width:8px;border-style:solid;border-color:#cccccc;" />
      </td>
   	  <td width="29" rowspan="3">&nbsp;</td>
      <td width="305" valign="middle">
      <h1 style="font-size:40px;font-family:Helvetica, Arial, sans-serif;font-weight:bold;color:#000000;line-height:40px;letter-spacing:-2px;" >Be bold. Go big or go home.</h1>

      <p class="style3 color" style="font-size:16px;font-family:Helvetica, Arial, sans-serif;font-weight:bold;line-height:18px;color:#00a7e5;" >There's really only one way to say it.
      Ultra big, ultra dramatic &amp; ultra bold.</p>
      </td>
 	 </tr>
    </table>
    <!--End Main Image and Headline -->
	<!--Spacer -->
	<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" height="20"><tr><td><img src="http://i7.cmail1.com/ei/r/96/198/93E/094151/images/lightspacer20.gif" width="1" height="20" /></td></tr></table>

	<!--End Spacer -->
	<!--Full Width Copy -->
	<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
  	 <tr>
      <td rowspan="3">
      <p style="line-height:22px;font-size:12px;color:#555555;font-family:'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Nullam dapibus varius risus, et auctor augue semper quis. In eros urna, 
      pulvinar a porttitor sed, commodo vitae enim. Ut est turpis, rhoncus vel
       commodo non, lacinia viverra leo.  <a href="#" style="font-weight:bold;color:#00a7e5;text-decoration:none;" > | Read More |</a> </p> 
      </td>

     </tr>  
    </table>
    <!--End Full Width Copy -->
    
<!--Spacer -->
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" height="40"><tr><td><img src="http://i10.cmail1.com/ei/r/96/198/93E/094151/images/lightspacer40.gif" width="1" height="40" /></td></tr></table>
<!--End Spacer -->
    
		</td>
	</tr>
</table>
<!--
-------------------------
End Featured Image Module
-------------------------
 --> 
<!--
-------------------------
Start Two Column Module
-------------------------
 -->
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">

  <tr>
	  <td width="275" height="3" class="lightbg" style="background-color:#e3e3e3;" ></td>
	  <td width="50"></td>
	  <td width="275" class="lightbg" style="background-color:#e3e3e3;" ></td>
	 </tr>
     <tr>
      <td height="10" colspan="3"><img src="http://i3.cmail1.com/ei/r/96/198/93E/094151/images/lightspacer10.gif" width="1" height="10" /></td>
     </tr>  
   
      
	<tr>

    	<td colspan="3">
        
	<!--Main Image and Headline -->
	<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
 	 <tr>
   	  <td width="275" rowspan="3"> <p class="style4 dark" style="font-size:18px;font-family:Arial, sans-serif;font-weight:bold;line-height:18px;color:#222222;" >Less is  <span class="color" style="color:#00a7e5;" >More.</span></p>
      <p class="style4 dark" style="font-size:18px;font-family:Arial, sans-serif;font-weight:bold;line-height:18px;color:#222222;" ><img src="http://i4.cmail1.com/ei/r/96/198/93E/094151/images/cards-pack.jpg" alt="image" width="259" height="208" class="largeborder" vspace="10" style="border-width:8px;border-style:solid;border-color:#cccccc;" /></p>
      <p class="white" style="line-height:22px;font-size:12px;font-family:'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;color:#222222;" ><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></p>

      <p style="line-height:22px;font-size:12px;color:#555555;font-family:'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;" >Nullam dapibus varius risus, et auctor augue semper quis. 
            In eros urna, pulvinar a porttitor sed, commodo vitae enim. 
            Ut est turpis, rhoncus vel commodo non, lacinia viverra leo. 
            Vivamus convallis turpis nibh, vel viverra elit. Morbi viverra 
      bibendum lobortis.</p>
      <p style="line-height:22px;font-size:12px;color:#555555;font-family:'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;" > <a href="#" style="font-weight:bold;color:#00a7e5;text-decoration:none;" >| Read More |</a> </p></td>
   	  <td width="50" rowspan="3">&nbsp;</td>
      <td width="275" valign="middle"> <p class="style4 dark" style="font-size:18px;font-family:Arial, sans-serif;font-weight:bold;line-height:18px;color:#222222;" >The Grid  <span class="color" style="color:#00a7e5;" >System. </span></p>
      <p style="line-height:22px;font-size:12px;color:#555555;font-family:'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;" ><img src="http://i5.cmail1.com/ei/r/96/198/93E/094151/images/cards-pack2.jpg" alt="image" width="259" height="208" class="largeborder" vspace="10" style="border-width:8px;border-style:solid;border-color:#cccccc;" /></p>

      <p class="white" style="line-height:22px;font-size:12px;font-family:'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;color:#222222;" ><strong>Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. Nullam dapibus varius 
        risus, et auctor augue semper quis. In eros urna,
       pulvinar a porttitor sed, commodo vitae enim. </strong></p>
      <p style="line-height:22px;font-size:12px;color:#555555;font-family:'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;" >Ut est turpis, rhoncus vel commodo non, lacinia 
        viverra leo. Vivamus convallis turpis nibh, vel viverra
       elit. Morbi viverra bibendum lobortis.</p>
      <p style="line-height:22px;font-size:12px;color:#555555;font-family:'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;" > <a href="#" style="font-weight:bold;color:#00a7e5;text-decoration:none;" >| Read More |</a> </p>  </td>
 	 </tr>
    </table>
    <!--End Main Image and Headline -->

    
<!--Spacer -->
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" height="40"><tr><td><img src="http://i10.cmail1.com/ei/r/96/198/93E/094151/images/lightspacer40.gif" width="1" height="40" /></td></tr></table>
<!--End Spacer -->
    
		</td>
	</tr>
</table>
<!--
-------------------------
End Two Column Module
-------------------------
 -->
 
 
 
<!--
-------------------------
Start Three Column Module
-------------------------
 -->
 
 
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
	  <td width="173" height="3" class="lightbg" style="background-color:#e3e3e3;" ></td>

	  <td width="40"></td>
	  <td width="173" height="3" class="lightbg" style="background-color:#e3e3e3;" ></td>
	  <td width="40"></td>
	  <td width="174" height="3" class="lightbg" style="background-color:#e3e3e3;" ></td>
     </tr>
     <tr>
      <td height="10" colspan="5"><img src="http://i3.cmail1.com/ei/r/96/198/93E/094151/images/lightspacer10.gif" width="1" height="10" /></td>
     </tr>  
   
      
	<tr>

    	<td colspan="5">
        
	<!--Main Image and Headline -->
	<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
 	 <tr>
   	  <td width="173" rowspan="3">
      <p class="style4 dark" style="font-size:18px;font-family:Arial, sans-serif;font-weight:bold;line-height:18px;color:#222222;" >The Grid  <span class="color" style="color:#00a7e5;" >System. </span></p>
      <img src="http://i6.cmail1.com/ei/r/96/198/93E/094151/images/thumb1.jpg" width="165" height="110" alt="thumbnail" class="smallborder" style="border-width:4px;border-style:solid;border-color:#cccccc;" />
      <p style="line-height:22px;font-size:12px;color:#555555;font-family:'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;" >It is a long established fact that a reader will be 
      distracted by the readable content of a page when looking 
      at its layout.</p>

      <p style="line-height:22px;font-size:12px;color:#555555;font-family:'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;" > <a href="#" style="font-weight:bold;color:#00a7e5;text-decoration:none;" >| Read More |</a> </p>
      </td>
   	  <td width="40" rowspan="3">&nbsp;</td>
      <td width="173" valign="middle">
      <p class="style4 dark" style="font-size:18px;font-family:Arial, sans-serif;font-weight:bold;line-height:18px;color:#222222;" >The Grid  <span class="color" style="color:#00a7e5;" >System. </span></p>
      <img src="http://i6.cmail1.com/ei/r/96/198/93E/094151/images/thumb1.jpg" width="165" height="110" alt="thumbnail" class="smallborder" style="border-width:4px;border-style:solid;border-color:#cccccc;" />

      <p style="line-height:22px;font-size:12px;color:#555555;font-family:'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;" >It is a long established fact that a reader will be 
      distracted by the readable content of a page when looking 
      at its layout.</p>
      <p style="line-height:22px;font-size:12px;color:#555555;font-family:'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;" > <a href="#" style="font-weight:bold;color:#00a7e5;text-decoration:none;" >| Read More |</a> </p>
      </td>
      <td width="40" valign="middle">&nbsp;</td>
      <td width="174" valign="middle">
      <p class="style4 dark" style="font-size:18px;font-family:Arial, sans-serif;font-weight:bold;line-height:18px;color:#222222;" >The Grid  <span class="color" style="color:#00a7e5;" >System. </span></p>

      <img src="http://i6.cmail1.com/ei/r/96/198/93E/094151/images/thumb1.jpg" width="165" height="110" alt="thumbnail" class="smallborder" style="border-width:4px;border-style:solid;border-color:#cccccc;" />
      <p style="line-height:22px;font-size:12px;color:#555555;font-family:'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;" >It is a long established fact that a reader will be 
      distracted by the readable content of a page when looking 
      at its layout.</p>
      <p style="line-height:22px;font-size:12px;color:#555555;font-family:'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;" > <a href="#" style="font-weight:bold;color:#00a7e5;text-decoration:none;" >| Read More |</a> </p>
      </td>
 	 </tr>
    </table>
    <!--End Main Image and Headline -->

<!--Spacer -->
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" height="40"><tr><td><img src="http://i10.cmail1.com/ei/r/96/198/93E/094151/images/lightspacer40.gif" width="1" height="40" /></td></tr></table>
<!--End Spacer -->
    
		</td>
	</tr>
</table>
<!--
-------------------------
End Three Column Module
-------------------------
 -->
<!--
---------------------------
Start Footer Contact Module
---------------------------
 -->
 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td align="center">
    
	<!--Spacer -->

	<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" height="40"><tr><td></td></tr></table>
	<!--End Spacer -->
    
    <!--Logo and Contact Info-->
    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
     <tr>
      <td width="252" valign="middle">
       	<h1>Deesis</h1>
		<h3>We Mean Prayer</h3>
      </td>
      <td width="20" valign="middle" align="left"></td>

      	<td align="left" valign="middle">
	      <p class="style5" style="color:#030303;font-size:14px;line-height:18px;font-family:Helvetica, Arial, sans-serif;font-weight:bold;">contact@deesis.org<span class="webversion" style="font-family:Arial, sans-serif;font-size:12px;color:#555555;font-weight:bold;" > | </span>www.deesis.org<br />
	      </td>
      </tr>

    </table>
    <!--End Logo and Contact Info-->
    
	<!--Spacer -->
	<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" height="40"><tr><td></td></tr></table>
	<!--End Spacer -->
        
    </td>
  </tr>
</table>
</body>
</html>