<%= render :partial => 'layouts/email_header' %>

<h1>Today's Prayer Needs</h1>

<%= render :partial => 'reminders/list', :locals => { :user => @user }%>

<%= render :partial => 'layouts/email_footer' %>