<%= render :partial => 'layouts/email_header' %>

<h1>Today's Prayer Needs</h1>

<ul>
<% @user.reminders.each do |reminder| %>
	<li><%= link_to reminder.prayer.prayer, prayer_path(reminder.prayer) %></li>
<% end %>
</ul>

<%= render :partial => 'layouts/email_footer' %>