<%= render :partial => 'layouts/email_header' %>

<h1>Today's Prayer Needs</h1>

<% @user.reminders.each do |reminder| %>
  <blockquote>
    <%= render :partial => 'prayers/prayer', :locals => { :prayer => reminder.prayer }%>
  </blockquote>
<% end %>

<%= render :partial => 'layouts/email_footer' %>