<% user.reminders.each do |reminder| %>
	<div class="list prayer">
		<%= render :partial => 'prayers/prayer', :locals => { :prayer => reminder.prayer }%>
		<div class="meta">
			<%= render :partial => 'reminders/destroy', :locals => { :reminder => reminder }%>
		</div>
	</div>
<% end %>