.box{background:#fdfef6;border:1px solid;border-color:#bab9b9;color:#707070;font-size:0.8em;padding:10px;}
.charcounter{display:block;font-size:1em;font-weight:700;}
.clear{clear:both;}
.left,div.avatar{float:left;}
.right{float:right;}
.round{-moz-border-radius:5px;-webkit-border-radius:5px;}
.search_box{background-color:#fff;border:1px solid;border-color:#ccc;color:#999;font-size:13px;margin:0;padding:6px;}
a,a:link,a:visited{color:#222;}
a:hover{text-decoration:underline;}
a:hover,div.meta a,div.user_info_box a,div.list a,div.info_box a{color:#2E80D3;}
a:link,a:visited{text-decoration:none;}
body{background-color:#F5F5F3;color:#464646;font-family:"Helvetica Neue", Helvetica, Verdana, sans-serif;font-size:0.8em;margin:0;padding:0;text-align:center;}
div#footer{margin:5px 0 30px;text-align:right;}
div#footer a{background-color:#FFD700;color:#fff;font-weight:700;padding:1px 3px;}
div#pagination a.more{background:url('http://s.twimg.com/a/1258507899/images/more.gif') top left repeat-x #fff;border:1px solid #ddd;border-bottom:1px solid #aaa;border-right:1px solid #aaa;display:block;font-size:14px;font-weight:700;height:22px;line-height:1.5em;margin:30px 0 10px;outline:none;padding:6px 0;text-align:center;text-shadow:1px 1px 1px #fff;width:100%;}
div#searchform{position:absolute;right:0;top:13px;}
div#user_login{font-weight:700;margin:10px 0;text-align:right;width:100%;}
div.avatar img{background:#e8e8e8;border:none;padding:3px;}
div.content{background:#fff;border:1px solid;border-bottom:5px solid;border-right:5px solid;border-color:#E6E6DF;font-size:1em;padding:10px;text-align:left;}
div.footer{margin-bottom:40px;text-align:right;}
div.formFields{background:#e8e8e8;clear:both;padding:7px;}
div.formFields input[type=text],div.formFields input[type=password],div.formFields select,div.formFields textarea{border:1px solid;border-color:#ddd;font-size:1.1em;padding:7px;}
div.formFields label{display:block;font-weight:700;padding:5px 0;}
div.formFields textarea{font-size:1.6em;height:50px;width:95%;}
div.form_error{color:maroon;font-weight:700;margin:0;opacity:0.9px;padding:4px 0;}
div.info_box{background:#f8f8f8;border:1px solid #e8e8e8;float:right;font-size:0.9em;margin:0 10px;padding:7px;width:30%;}
div.info_box div.list{margin:10px 0 20px;padding:0;}
div.info_box h3{background-color:#FFD700;color:#000;font-weight:700;margin:0;padding:5px;}
div.item{margin-left:70px;word-wrap:break-word;}
div.item p{margin-top:0;padding-top:0;}
div.list{font-size:0.9em;margin:30px 0;padding:5px;}
div.listing_small{float:left;font-size:0.9em;width:65%;}
div.messages{background:#666;color:#fff;font-weight:700;margin:10px 0;padding:5px;text-align:center;}
div.meta{background:#f8f8f8;font-size:0.95em;margin:10px 0 0 70px;padding:7px;}
div.navigation{float:left;margin-bottom:10px;position:relative;width:900px;}
div.navigation li a{color:#000;float:left;font-size:1.2em;margin:0;padding:10px 20px;text-decoration:none;}
div.navigation li a:hover,.navigation li .active{background-color:#e8e8e8;color:#000;}
div.navigation ul li{float:left;font-weight:400;list-style:none;margin:0;padding:0;}
div.show_more_prayers{background:#f8f8f8;border:1px solid;border-color:#e8e8e8;margin:20px auto;padding:10px;text-align:center;width:90%;}
div.wrapper{margin:0 auto;width:900px;}
fieldset{border:none;margin-bottom:10px;}
h1,h2,h3,div.navigation ul{margin:0;padding:0;}