<h1><%= @user.name_or_username %></h1>

<h3>Recent Activity</h3>
<%= render :partial => 'activity', :collection => @user.activity %>

<% if @user.prayer.count > 0 %>
<h3>Recent Prayers</h3>
<%= render :partial => 'prayers/prayer', :collection => @user.prayer %>
<% end %>