<h1>Welcome to Deesis</h1>
<p>
	Deesis is a community of Christians bent on keeping each other in prayer.  We welcome you with open arms
	and hope that you will find our community to be a blessing to you.
</p>
<p>
	There are a couple of things that we like to point out to new members such as yourself-
</p>
<ol>
	<li>Prayer for any (and every) subject is encouraged.  However, please refrain from any gossip, hate, or vulgar language.</li>
	<li>Please be respectful and honoring when commenting on prayers.</li>
	<li>Be a blessing to others, while allowing them to bless you.</li>
</ol>
<p>
	Thank you for joining our community.
</p>
<p><strong>Deesis</strong></p>