<div class="list prayer" id="prayer_id_<%= complete.id %>">
	<%= render :partial => 'prayer', :locals => { :prayer => complete }%>
	<%= render :partial => 'meta', :locals => { :prayer => complete }%>
	<div class="clear"></div>
</div>