<% form_for(@prayer, :html => { :class => 'ajaxForm' }) do |f| %>
	<%= f.error_messages %>
	<fieldset id="prayerForm">
	  <legend>Write a Prayer</legend>
		<div class="formFields">
			<%= f.text_area :prayer %>
		</div>
	</fieldset>
	<div class="formFields">
    <%= f.submit 'Submit Prayer' %>
  </div>
<% end %>