<% if current_user %>
	<%= render :partial => 'prayers/form' %>
<% end %>

<div id="prayers_list">
	<%= render :partial => 'prayers/prayer', :collection => @prayers %>
	
	<% if @prayers.count > 9 %>
	<div id="pagination"><%= link_to "More Prayers", prayers_path, :class => 'round more' %></div>
	<% end %>
</div>