<%= sidebar(render :partial => 'prayers/search')  %>

<% if current_user %>
	<%= render :partial => 'prayers/form' %>
<% end %>

<div id="prayers_list">
	<%= render :partial => 'prayers/prayer', :collection => @prayers %>
	
	<% unless @prayers.next_page.nil? %>
		<div id="pagination"><%= link_to "More Prayers", prayers_path, :class => 'round more' %></div>
	<% end %>
</div>