<%= sidebar(render :partial => 'reminders/box', :locals => { :user => current_user })  %>

<div class="prayer list">
	<%= render :partial => 'prayer', :locals => { :prayer => @prayer } %>
</div>

<h3>Comments</h3>
<%= render :partial => 'comments/form', :locals => { :comment => @prayer.comments.new } %>
<div id="comments">
	<%= render :partial => 'comments/comment', :collection => @prayer.comments %>
</div>