	</div>
	<div class="clear"></div>
	<div  id="footer">
		<%= link_to "Support", root_url %> | 
		<%= link_to "Privacy Policy", root_url %> | 
		<%= link_to "Terms of Service", root_url %>
	</div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-4298320-11");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>