<%= render :partial => 'layouts/header' %>
<div class="content">
	<div class="listing_small">
		<%= yield %>
	</div>
	<div class="info_box">
		
	</div>
	<div class="clear"></div>
</div>
<%= render :partial => 'layouts/footer' %>