<%= render :partial => 'layouts/header' %>
	<div class="info_box">
		<h3>Recent Comments</h3>
		<div class="list">
			<%= render :partial => 'comments/comment', :collection => @comments %>
		</div>
	</div>
<%= render :partial => 'layouts/footer' %>